/************************
Golbal
*************************/
*,
a:hover {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

body {
  background: #ad1213;
  background-repeat: no-repeat;
  background-position: center top;
}

/************************
Layous
*************************/
main {
  background: url(../images/header-gb.png) no-repeat;
  background-position: right top;
}

.logo {
  width: 77%;
}

header nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
  background: linear-gradient(to bottom, #fff, #f3f3f3);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  padding: 0.8rem 0.03rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
  background: linear-gradient(to bottom, #fff, #f3f3f3);
  z-index: 9999;
  width: 100%;
}

.navbar.sticky img.logo {
  width: 60%;
}

.slogan {
  /* sparkle animation */
}

.slogan .sparkle {
  position: absolute;
  z-index: 9;
  left: 46.5%;
  width: 360px;
  height: 316px;
  display: inline-block;
  opacity: 1;
  animation: sparkleRotate 1.8s 0s infinite ease;
  -webkit-animation: sparkleRotate 1.8s 0s infinite ease;
}

.slogan .sparkle img {
  width: 100%;
}

@-webkit-keyframes sparkleRotate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sparkleRotate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

.slogan img {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  top: 0rem;
  max-width: 980px;
}

.star_overCover .-mask {
  background: url(../images/img-letter-deco.png) no-repeat;
  width: 1200px;
  height: 1002px;
  display: block;
  position: absolute;
  z-index: 99;
}

.the_letters {
  position: relative;
  top: -9rem;
  z-index: 1;
  font-weight: 800;
  font-size: 20px;
  color: #010101;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1106px;
  height: 100vh;
  max-height: 734px;
  background: url(../images/section-bg.png) no-repeat;
  background-size: contain;
}

.the_letters section.content {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding-top: 10rem;
}

.the_letters section.the_link {
  margin: 4.81rem auto 0rem;
  text-align: center;
}

.the_letters section.the_link .hyperLink a {
  margin: 1.81rem auto;
  display: inline-block;
  font-weight: 500;
  background: #db2d29;
  color: #fceebf;
  text-decoration: none;
  padding: 0.67rem 1rem;
  border-radius: 3.125rem;
  -webkit-border-radius: 3.125rem;
  -moz-border-radius: 3.125rem;
  -ms-border-radius: 3.125rem;
  -o-border-radius: 3.125rem;
}

.the_letters section.the_link .hyperLink a:hover {
  background: #bc2320;
}

.the_8points {
  width: 80%;
  margin: 0 auto 3.8rem;
}

.the_8points blockquote {
  display: block;
  margin: 0 auto;
  background: url("../images/the_8points_bg.png") no-repeat;
  background-size: contain;
  width: 250px;
  height: 246px;
}

.the_8points .row > div {
  text-align: center;
}

.the_8points .row blockquote {
  padding-top: 1rem;
}

.the_8points .row blockquote > p {
  color: #fff;
  font-size: 22px;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.the_8points h3 {
  margin-bottom: 0;
}

.the_8points h3::after {
  content: '';
  background: url(../images/h3-after.png) no-repeat;
  height: 25px;
  display: inline-block;
  width: 100%;
  background-position: center;
}

/* footer */
footer {
  background: url(../images/footer_bg.png) no-repeat;
  padding-bottom: 1rem;
  background-position: center bottom;
  background-size: cover;
}

.footerInfo {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  color: #fff;
}

.footerInfo ul.footerContact {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.footerInfo ul.footerContact li {
  list-style: none;
  float: left;
  width: calc(100%/3);
}

.footerInfo p.warnInfo {
  font-size: 15px;
  color: #010101;
}

.navbar-brand {
  margin-right: 0rem;
}

/**/
@media screen and (max-width: 991px) {
  .the_letters {
    background: #fbeab5;
  }
  section.the_link {
    margin: 0.81rem auto 0rem;
  }
  section.the_link img.slogan-2 {
    width: 91%;
  }
}

@media screen and (max-width: 700px) {
  span.sparkle {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */